.list {
  display: grid;
  grid-gap: $padding-regular;

  @include mq(tablet) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  @include mq(desktop) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    margin-top: $padding-regular * 2;
  }
}

.card {
  padding: $padding-regular;
  padding-top: $padding-regular + $padding-small;
  background-color: $color-card;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  overflow: hidden;
  position: relative;
  filter: $drop-shadow;

  &__border {
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: $color-reading;

    &--read {
      background-color: $color-read;
    }
  }

  &__title {
    margin: 0;
    margin-right: auto;
    font-size: $font-size-regular;
    width: calc(100% - 14px);

    @include mq(desktop) {
      font-size: $font-size-large;
    }
  }

  &__author {
    margin: 5px 0 16px;
  }

  &__pages {
    font-style: italic;
    margin: 0;
  }

  &__modify-container {
    display: flex;
  }

  &__progress {
    margin: 5px 0 0;
    cursor: pointer;
    width: auto;

    &--update {
      color: $color-text;

      &:hover,
      &:focus {
        color: $color-reading-dark;
      }
    }

    &--update-read {
      &:hover,
      &:focus {
        color: $color-read-dark;
      }
    }
  }

  &__modify {
    margin-top: 5px;
    margin-left: auto;
    text-align: right;

    &--link {
      &:hover,
      &:focus {
        .card__modify--icon {
          filter: $filter-darkPink;
        }
      }
    }

    &--link-read {
      &:hover,
      &:focus {
        .card__modify--icon {
          filter: $filter-darkGreen;
        }
      }
    }

    &--icon {
      height: 16px;
      margin-left: $padding-medium;

      @include mq(desktop) {
        height: 18px;
      }
    }
  }
}
