html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
}

.wrapper {
  width: calc(100% - #{$padding} * 2);
  margin: 0 auto;
}

ul,
li {
  list-style: none;
  padding-left: 0;
}

header {
  text-align: center;
  margin-bottom: 8px;
  height: 80px;
}

h1 {
  font-family: "Itim", cursive;
  display: inline-block;
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 65%;
    height: 2px;
    background-color: black;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
  }
}

nav {
  text-align: center;

  a {
    margin: 0 10px;
    display: inline-block;
    border-radius: 15px;
    border: 2px solid black;
    color: black;
    padding: 2px 5px;
    text-decoration: none;

    &.nav__add {
      width: 26px;
      height: 26px;
      border-radius: 50%;
      font-weight: bold;
    }

    &.active {
      background: black;
      color: white;
    }
  }
}

section {
  margin: 20px 0;
}

footer {
  text-align: center;
  height: 22px;
}
