html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: $body-font;
  background-color: $color-bg;
  color: $color-text;
}

.wrapper {
  width: calc(100% - #{$padding-regular} * 2);
  margin: 0 auto;

  @include mq(tablet) {
    width: calc(100% - #{$padding-regular} * 4);
    max-width: 1400px;
  }

  @include mq(desktop) {
    width: 80%;
    max-width: 1400px;
  }
}

ul,
li {
  list-style: none;
  padding-left: 0;
}

header {
  text-align: center;
  margin-bottom: 8px;
  height: 80px;
}

h1 {
  font-family: "Itim", cursive;
  display: inline-block;
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 65%;
    height: 2px;
    background-color: $color-text;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
  }
}

.nav {
  text-align: center;

  &__link {
    margin: 0 10px;
    display: inline-block;
    padding: 2px $padding-small;
    text-decoration: none;
    border-radius: $border-radius;
    border: 2px solid $color-text;
    color: $color-text;
    background-color: $color-bg;
    transition: 0.3s all;

    &:hover,
    &:focus {
      color: $color-bg;
      background-color: $color-text;
    }

    &--all {
      @include mq(phone) {
        display: none;
      }
    }

    &--add {
      width: 26px;
      height: 26px;
      border-radius: 50%;
      font-weight: bold;
    }

    &.active {
      background: $color-text;
      color: $color-bg;
    }
  }
}

.nav section {
  margin: 20px 0;
}

footer {
  text-align: center;
  height: 22px;
}
