@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

// fonts
$body-font: "Lato", sans-serif;
$font-size-regular: 1.6rem;
$font-size-small: 1.4rem;
$font-size-large: 2rem;

// padding, margins, border-radius
$border-radius: 4px;
$shadow-radius: 4px;
$padding-small: 4px;
$padding-medium: 8px;
$padding-regular: 16px;

// colors
$white: #fff;
$lightBlue: #f0f1f4;
$pink: #e5c7d1;
$darkPink: #b15973;
$green: #b2bd7e;
$darkGreen: #6b7649;
$mediumBlue: #d5d8e2;
$blueGrey: #343742;

// ui colours
$color-card: $white;
$color-bg: $lightBlue;
$color-shadow: $mediumBlue;
$color-text: $blueGrey;
$color-reading: $pink;
$color-reading-dark: $darkPink;
$color-read: $green;
$color-read-dark: $darkGreen;
$color-button: $darkGreen;

// filtered for svg
$filter-pink: invert(88%) sepia(13%) saturate(379%) hue-rotate(293deg)
  brightness(92%) contrast(94%);
$filter-darkPink: invert(40%) sepia(24%) saturate(991%) hue-rotate(291deg)
  brightness(99%) contrast(88%);
$filter-green: invert(78%) sepia(12%) saturate(909%) hue-rotate(30deg)
  brightness(93%) contrast(89%);
$filter-darkGreen: invert(41%) sepia(28%) saturate(528%) hue-rotate(34deg)
  brightness(99%) contrast(83%);

// ui additional styles
$drop-shadow: drop-shadow(
  $shadow-radius $shadow-radius $shadow-radius $color-shadow
);

// Media query mixins

@mixin mq($breakpoint) {
  $phone: "(max-width: 679px)";
  $tablet: "(min-width: 680px)";
  $desktop: "(min-width: 1025px)";

  @if $breakpoint == phone {
    @media #{$phone} {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media #{$tablet} {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media #{$desktop} {
      @content;
    }
  }
}
