@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  background-color: #f0f1f4;
  color: #343742;
}

.wrapper {
  width: calc(100% - 16px * 2);
  margin: 0 auto;
}

@media (min-width: 680px) {
  .wrapper {
    width: calc(100% - 16px * 4);
    max-width: 1400px;
  }
}

@media (min-width: 1025px) {
  .wrapper {
    width: 80%;
    max-width: 1400px;
  }
}

ul,
li {
  list-style: none;
  padding-left: 0;
}

header {
  text-align: center;
  margin-bottom: 8px;
  height: 80px;
}

h1 {
  font-family: "Itim", cursive;
  display: inline-block;
  position: relative;
}

h1::after {
  content: "";
  display: block;
  width: 65%;
  height: 2px;
  background-color: #343742;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -10px;
}

.nav {
  text-align: center;
}

.nav__link {
  margin: 0 8px;
  display: inline-block;
  padding: 2px 4px;
  text-decoration: none;
  border-radius: 4px;
  border: 2px solid #343742;
  color: #343742;
  background-color: #f0f1f4;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.nav__link:hover, .nav__link:focus {
  color: #f0f1f4;
  background-color: #343742;
}

.nav__link--reading {
  margin-left: 0;
}

.nav__link--add {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  font-weight: bold;
  margin-right: 0;
}

.nav__link.active {
  background: #343742;
  color: #f0f1f4;
}

.nav section {
  margin: 20px 0;
}

footer {
  text-align: center;
  margin: 16px 0;
  padding-top: 16px;
}

.form {
  background-color: #fff;
  display: none;
  margin-top: 16px;
  border-radius: 4px;
  -webkit-filter: drop-shadow(4px 4px 4px #d5d8e2);
          filter: drop-shadow(4px 4px 4px #d5d8e2);
}

@media (min-width: 680px) {
  .form {
    margin: 16px auto 0;
    width: 70%;
    max-width: 600px;
  }
}

@media (min-width: 1025px) {
  .form {
    margin: 16px auto 0;
    max-width: 600px;
  }
}

.form__wrapper {
  padding: 0 16px 16px;
}

.form__close {
  display: block;
  padding: 16px 0 0 16px;
  margin-left: auto;
  width: 44px;
}

.form__close--icon {
  width: 12px;
}

.form__set {
  padding: 8px;
}

.form__label {
  display: block;
  font-size: 1.4rem;
  margin-bottom: 4px;
}

.form__label--checkbox {
  padding: 0;
  display: inline-block;
  vertical-align: middle;
}

.form__input {
  display: block;
  border-radius: 4px;
  border: 1px solid #d5d8e2;
  padding: 8px;
  width: 100%;
}

.form__input--checkbox {
  padding: 0;
  margin-left: 8px;
  display: inline-block;
  width: auto;
  cursor: pointer;
}

.form__button {
  width: 140px;
  padding: 8px;
  margin: 8px auto 0;
  display: block;
  border-radius: 4px;
  border: 2px solid #6b7649;
  color: #6b7649;
  background-color: #fff;
  cursor: pointer;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.form__button:hover, .form__button:focus {
  color: #fff;
  background-color: #6b7649;
}

.list {
  display: -ms-grid;
  display: grid;
  grid-gap: 16px;
}

@media (min-width: 680px) {
  .list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
}

@media (min-width: 1025px) {
  .list {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    margin-top: 32px;
  }
}

.card {
  padding: 16px;
  padding-top: 20px;
  background-color: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
  position: relative;
  -webkit-filter: drop-shadow(4px 4px 4px #d5d8e2);
          filter: drop-shadow(4px 4px 4px #d5d8e2);
}

.card__border {
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: #e5c7d1;
}

.card__border--read {
  background-color: #b2bd7e;
}

.card__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__title {
  margin: 0;
  margin-right: auto;
  font-size: 2rem;
  width: calc(100% - 14px);
}

.card__author {
  margin: 5px 0 16px;
}

.card__edit {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 3px 0 8px 8px;
}

.card__edit--icon {
  height: 10px;
}

.card__pages {
  font-style: italic;
  margin: 0;
}

.card__progress {
  margin: 5px 0 0;
  cursor: pointer;
}
